
.header: {
                background-color: #523B6E;
            }
            
.bloco1 {
    width: 100%;
    background-color: #604580;
    border: 1px solid;
    display: grid;
    margin: auto;
    margin-bottom: 0px;
    grid-template-columns:1fr 1fr;
    height: 150px;
    color: white;
}

